body{
	padding: 50px;
	font: 14px;
}

a{
	color: #00B7FF;
}

.chat-Contain{
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.chat-Contain .chat-Contain-cont,.chat-Contain .user-info-class{
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	float: left;
}

.chat-Contain .user-info-class{
	width: 20%;
	border-right: 1px solid black;
	padding: 10px;
	background-color: #eee;
}

.user-info-class p{
	text-align: center;
}

.chat-cont-title{
	background-color: black;
	text-align: center;
	height: 10%;
	line-height: 30px;
	color: white;
	width: 100%;
	position: relative;
}

.chat-cont-body {
	height: 90%;
	padding: 15px;
	box-sizing: border-box;
}

#detailDivChat{
	display: none;
}

.chat-tab-ul,.chat-user-list,.chat-room-list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.chat-tab-ul .chatTabLi{
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	float: left;
}

.li-active{
	background: white;
	color: black;
}

.chat-user-list li,.chat-room-list li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.chat-user-list li:hover,.chat-room-list li:hover{
	background-color: #eee;
}

#chatUserMessaList{
	width: 100%;
	height: 60%;
	overflow: auto;
	background-color: #eee;
	margin-bottom: 1em;
	box-sizing: border-box;
}

.chat-cont-messages {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	    overflow-x: hidden;
}

.title-back {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 10px;
	cursor: pointer;
	text-decoration: underline;
}

#send-message{
	width:80%;
	margin-bottom:1em;
	margin-right:1em;
}

.font-center{
	text-align: center;
}

.myself-cont{
	text-align: right;
	padding-right: 10px;
}

.other-cont{
	text-align: left;
	padding-left: 10px;
}

.chat-login-form{
	width: 400px;
	height: 150px;
}

.chat-login-form form{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.chat-login-form p{
	text-align: center;
}

.form-login-title{
	text-align: left !important;
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 0;
	padding: 0 0 0 10px;
}

.form-login-span{
	width: 70px;
	display: inline-block;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

.form-login-btn{
	width: 100px;
	height: 25px;
	cursor: pointer;
}